.dist
.vscode
node_modules
.env
.DS_Store
npm-debug.log
yarn-error.log
.idea
*.tgz
*.log
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.crt
*.p12
*.der
*.csr
*.srl
*.jks
*.pfx
*.p7b
*.p7c
*.bak
*.swp
*.swo
*.tmp
*.temp
*.old
*.orig